*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body{
 width:100%;
 height:100%;
}

#title{
 margin:20px 0px 0px 0px; 
}

h1{
  margin-right:500px;
}

header{
  display: flex;
  justify-content:space-around;
  position: fixed;
  z-index: 99999;
  background-color:#fff;
  width:100%;
  height:85px;
}

#navegation{
  display:flex;
  margin:20px;
  width:450px;
}

ul{
  display: flex;
  list-style:none;
}

li{
    font-size: 24px;
    padding:10px;
}

li:hover{
  font-weight: 900;
  font-size:1.5rem ;
  color: #000000;
}

a{
  text-decoration: none;
  color: #000000;
}

main{
  padding-top:10px;
  width:100%;
  height:650px;
}

#principal{
 width:100%;
 height:400px;
}

#container{
  background-image: url("laranja azul recorte.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top:20px;
  margin-bottom:60px;
  background-color: #000000;
}


figcaption{
  display: flex;
  flex-direction: column-reverse;
}

h2{
  margin:-190px 0 0 100px;
  letter-spacing: 2px;
  color: #fff;
  font-size:3.5rem ;
  font-family: 'Montserrat', sans-serif;
}

h3{
  display: relative;
  margin-top:400px;
  margin-left:100px;
  font-weight: normal;
  color: #fff;
  font-size: 30px;

}

.collection{
  width:100%; 
}

.imgs{
  display:inline-block;
  width:24%;
  padding:2px;
  margin-top:10px;
  margin-left:10px;
}

footer{
  width:100%;
  height:250px;
  margin-top:1250px;
  background-color: aqua;
  display:relative;
}

.photos{
  margin:100px 0 30px 20px;
}

